/*Colour Scheme*/

/* MATTE BLACK: #414141 */
/* FRESH LIGHT GREEN: #CCDFC8 */
/* Watermelon: #FF6A5C */
/* TEAL: #056571 */
/* Light Neurtral: #f8f8f8*/

/* -------------------------- */
/*      Global Elements       */
/* -------------------------- */
#hero p:before {
  position: absolute;
  content: '';
  width: 40px;
  height: 3px;
  top: 0;
  left: 50%;
  margin-left: -20px;
  background: #FF6A5C; 
}

#hero {
  padding-bottom: 0px;
  margin-bottom: 20px;
}

#hero h1 {
  font-size: 48px;
}

#kube-features {
  margin-top: 50px;
}

#kube-component img {
  display:block;
  margin:auto;
}

.togglebox-box {
  padding: 0px;
  background: #FFF;
  margin-bottom: 0px; 
}

.bishop {
  height: 75px;
  width: 75px;
}

/* Datatables Alterations */
.dataTables_length select {
  width: 66px;
}

/* -------------------------- */
/*          Home Page         */
/* -------------------------- */

.home-page a {
  color: #FFF; 
}

.home-page a:hover {
  color: #FF6A5C;
}

/* Remove border on front page*/
#kube-features .row:first-child {
  border: none;
}

/* Posts Section */

#posts {
  text-align: left;
}

#posts button {
  text-align: middle;
}

/* Nav Button*/
.button.outline {
    background: 0 0;
    border-width: 2px;
    border-color: #FF6A5C;
    color: #FF6A5C;
}

/* -------------------------- */
/*         About Me Page      */
/* -------------------------- */

/* Photos of Me */
.profile-pic {
  width: 70%;
  border-radius: 7px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.22);
  margin-left:50px;
}

/* Logos for Email, Github and Linkedin + Styling */
.logo {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.logo img {
  height: 150px;
  width: 150px;
}

.logo .slider {
    margin-top: 10px;
    height: 5px;
    width: 0%;
    transition: width 1s ease;
}

.black {
    background-color: #000;
}
.blue {
    background-color: #007BB5;
}
.red {
    background-color: #F1635A;
}

.logo:hover .slider {
    width: 75%;
}

#kube-faq {
  max-width: 1000px;
  margin: auto;
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 104px;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}


/* -------------------------- */
/*       Shiny List Page      */
/*       Bulletin List Page   */
/* -------------------------- */
#components .item {
    background: #f8f8f8;
    padding: 10px 10px 30px 10px;
    margin-bottom: 20px; 
    -webkit-box-shadow: 10px 10px 22px -12px rgba(82,82,82,0.55);
    -moz-box-shadow: 10px 10px 22px -12px rgba(82,82,82,0.55);
    box-shadow: 10px 10px 22px -12px rgba(82,82,82,0.55);
}

#components .box {
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
}

#components h4 a {
  color: #FF6A5C;
  text-decoration: none; 
}

#components.bulletin h4 a {
  color: #2196F3;
  text-decoration: none; 
}
#components.films h4 a {
  color: #F7C919;
  text-decoration: none; 
}

#components h4 a:hover {
  -moz-transition: all linear 0.4s;
  transition: all linear 0.4s;
  color: #414141;
}

h2 {
    color: #FF6A5C;
}

/* -------------------------- */
/*            Lab             */
/* -------------------------- */

#posts.lab h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

div.col.col-2.post-date {
  margin-left: 0px;
  padding: 5px;
}

.post-date p {
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.post-date p.month {
  font-size: 32pt;
}

.post-date p.year {
  margin-bottom: 0px;
}

#posts p > code {
  background-color: #f9f9f9;
  color: #FD5F00;
}

#posts li > code {
  background-color: #f9f9f9;
  color: #FD5F00;
}

#posts li {
  margin-bottom: 10px;
}

#posts h3 {
  margin-top: 50px;
}

#posts .title-box {
  border-bottom: 2px solid #f8f8f8;
  height: 50px;
  margin:auto;
  margin-bottom: 10px;
  display: flex;

}

#posts .title-box h2 a {
  height:100%;
  font-size: 20pt;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: left;
  color: #FF6A5C;

}

#posts .title-box h2 {
  vertical-align:middle;
}

#posts .desc-box {
  text-align: left;
  min-height: 75px;
}


/* -------------------------- */
/* Bulletin Section - General */
/* -------------------------- */

/* Finding Box*/
.finding {
  background-color:#414141;
  height: 125px;
  color: #FFF;
  display: flex;
  align-items: center;
  text-align:center;
}
  
.finding .sidebar { 
  padding-top:15px;
  width: 20%;
  font-weight: bold;
  font-size: 18px;
}

.finding .body {
  width: 75%;
  text-align:left;
  font-size: 16px;
  padding-right:10px
}

.finding .body p {
  margin-bottom:0;
}

.finding img {
  display : block;
  margin : auto;
}

 /* Page Size */
#posts {
  max-width: 1000px; 
}

.post {
  margin-bottom: 60px;
}

/* Headers */

#posts h2 {
  color: #000;
  font-size: 36px;
  margin-bottom: 16px;
  margin-top: 30px;
}

#posts h1 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.indented {
  padding-left: 40px;
}

.technology {
  background-color: #ffd2ce;
  color:#FF6A5C;
  font-weight: bold;
}

.title-row {
  display: flex;
  flex-direction: row;
}

/* ---------------------------------------- */
/* Specific Post: Halflife of Acting Talent */
/* ---------------------------------------- */

/*Images in the post*/

#snatch img {
  height: 200px; 
  display:block; 
  margin: 0 auto;
}

#no-country-for-old-men img {
  height: 200px; 
  display:block; 
  margin: 0 auto;
}

#the-departed img {
  height: 200px; 
  display:block; 
  margin: 0 auto;
}

/* Tooltip Conditional Formatting */
.sus-tool-red {
  color: #F44336;
  font-weight: bold;
}

.sus-tool-green {
  color: #4CAF50;
  font-weight: bold;
}

.sus-tool-amber {
  color: #FFC107;
  font-weight: bold;
}

/* ---------------------------------------- */
/*                  Films                    */
/* ---------------------------------------- */

.review {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

}
.review-left{
  width: 70%;
  padding-right:10px;
}
.review-right{
  width: 30%;
  padding-left: 20px;
  align-text: right;
}

.ratings {
  height:150px;
}

.review-component {
  margin-bottom: 10px;
}

.film-title {
  width: 100%;
}

.film-review {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 20px;
}

.film-review-left{
  padding-right:10px;
  min-width: 500px;
  max-width: 700px;
}
.film-review-right{
  padding-left: 20px;
  align-text: right;
  max-width: 300px;
}