<div class="row gutters align-middle post">

    <div class="col col-2">
        <img src= {{ (printf "/img/lab/%s.png" .Params.img) }} >
    </div>

    <div class="col col-8">

        <div class="row">

            <div class="title-box col col-12">
                <h2 class="title">
                    <a href="{{ .Permalink }}" itemprop="headline">{{ .Title }}</a>
                </h2>
            </div>

        </div>

        <div class="row">

            <div class="desc-box col col-12">
               <p> {{ .Description }} </p>
                <p>
                {{ range $index, $element := .Params.tags }}            
                         <span class="label upper badge outline default"> {{ $element }} </span>
                {{ end }}

                </p>

            </div>
        </div>
    </div>

    <div class="col col-2 post-date">

        <p> {{ .Params.Day }} </p>
        <p class="month"> {{ .Params.Month }} </p>
        <p class="year"> {{ .Params.Year }} </p>

    </div>


</div>

