{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <div> <h1>{{.Title}}</h1> <img class="bishop" src="img/bishop.svg"></div>
    <p>{{.Description}}</p>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-3 item">
        <a href="/aboutme/">
          <figure>
            <img alt="me" height="60" src="/img/man.svg" width="60">
          </figure>
          <h3>About</h3>
        </a>
        <p>My professional details, skills and methods to get in touch.</p>
      </div>
      <div class="col col-3 item">
        <a href="/bulletin/">
          <figure>
            <img alt="me" height="60" src="/img/notebook.svg" width="60">
          </figure>
          <h3>Bulletin</h3>
        </a>
        <p>Data analytics and visualisation essays.</p>
      </div>
      <div class="col col-3 item">
        <a href="/lab/">

          <figure>
            <img alt="me" height="60" src="/img/tube.svg" width="60">
          </figure>
          <h3>Lab</h3>
        </a>
        <p>The technical goods. </p>
      </div>
      <div class="col col-3 item">
        <a href="/shiny/">

          <figure>
            <img alt="shiny" height="60" src="/img/code.svg" width="60">
          </figure>
          <h3>Shiny</h3>
        </a>
        <p>A collection of shiny applications I've developed.</p>
      </div>
    </div>
  <!--   <div class="row gutters">
      <div class="col col-4 item">
        <h4>Mobile-first Design</h4>
        <p>Every element in kube is mobile-first and fully embraces latest and greatest tech.</p>
      </div>
      <div class="col col-4 item">
        <h4>Cross-browser</h4>
        <p>Kube works in all modern browsers, both desktop and mobile, including latest Chrome, Firefox, Safari, Opera, IE and Edge.</p>
      </div>
      <div class="col col-4 item">
        <h4>License</h4>
        <p>Kube licensed under <a href="http://opensource.org/licenses/MIT">MIT</a>.<br>
      Kube Framework is absolutely free for personal or commercial use.</p>
    </div> -->
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}