{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<head>
   <!-- Highcharts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/highcharts-more.js"></script>

</head>

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}<br></p>
</div>
<div id="kube-faq">
<br>
<div class="row gutters align-middle">
    <div class="col col-4 pic-cont">
	    <img src="/img/aboutme/1.jpg" class="profile-pic">
    </div>
    <div class="col col-4">
	    <img src="/img/aboutme/2.jpg" class="profile-pic">
    </div>
    <div class="col col-4">
	    <img src="/img/aboutme/3.jpg" class="profile-pic">
    </div>
</div>



<br><br>

<p> I'm a data & analytics professional, currently working as data scientist for Betfair in Melbourne. </p> 
<p> Things that I'm really into: </p>
<ul class="indented">
  <li> Statistical programming ( particularly <span class="label upper outline error"> R </span> ); </li>
  <li> Creating aesthetic data visualisations ( particularly <span class="label upper outline error"> Highcharts </span> and <span class="label upper outline error"> ggplot </span> ); </li> 
  <li> Webscraping and automated data collection ( <span class="label upper outline error"> Scrapy </span>, <span class="label upper outline error"> Beautiful Soup </span>, <span class="label upper outline error"> Rvest </span> ); and </li>
  <li> Building data oriented web applications ( I'm an avid <span class="label upper outline error"> Shiny </span> enthusiast ). </li>
</ul>

<p> A more detailed description of my technical skills can be found in my CV which is available <a href='https://www.dropbox.com/sh/kdgr76wk5dnm8ft/AADScmqvAj46SAKGkQE5HCYVa?dl=0'> here </a>.  </p>

<br>
<h1>Professional Timeline</h1>
<div id="container" style="width:100%; height:500px"></div>

<br><br>

<h1>Get In Touch</h1>
<br>

<div class="row gutters align-middle">
    <div class="col col-4 logo">
      <a href="mailto:tomwbish@gmail.com"><img src="/img/aboutme/mail.svg" class="logo"></a>
      <span class="slider red"></span>  
    </div>
    <div class="col col-4 logo">
      <a href="https://www.linkedin.com/in/tom-bishop-a60b77a1/"> <img src="/img/aboutme/linkedin.svg" class="logo"> </a>
      <span class="slider blue"></span>  
    </div>
    <div class="col col-4 logo">
      <a href="https://github.com/TMBish"><img src="/img/aboutme/github.svg" class="logo"></a>
      <span class="slider black"></span>  
    </div>
</div>

<script type="text/javascript">
    $(function () { 
      var myChart = Highcharts.chart('container', {
        chart: {
            type: 'waterfall',
            inverted: true,
            backgroundColor: "transparent",
            style: {
                fontFamily: "Lato",
            },
        },
        xAxis: {
            type: 'category'
        },

        yAxis: {
            type: "datetime",
            min: Date.UTC(2008, 10),
            max: Date.UTC(new Date().getFullYear(),  new Date().getMonth() + 6, 29),
            gridLineWidth: 0,
            title: {text: ""}
        },

        legend: {
            enabled: false
        },

        title: {

          text: "",
          style: {
            fontSize: 24,
            fontWeight: "bold",
            textDecoration: "underline"
          }

        },

        plotOptions: {
            series: {
                lineWidth: 0,
                borderRadius: 10
            }
        },

        credits: {
          href: "http://jkunst.com/about/",
          text: "Inspired by Josh Kunst's site"
        }, 

        tooltip: {
                formatter: function() {
                 details = {
                      "Bachelors Degree": "Bachelor of Science",
                      "Masters Degree": "Masters of Operations Research",
                      "Graduate": "Risk Graduate",
                      "Analyst": "Credit Risk Model Developer",
                      "Senior Analyst": "Senior Credit Cards Analyst",
                      "Data Science Consultant": "Senior Data Science Consultant",
                      "Data Scientist": "Data Scientist"
                    };
                  org = {
                      "Bachelors Degree": "The University of Melbourne",
                      "Masters Degree": "The University of Melbourne",
                      "Graduate": "National Australia Bank",
                      "Analyst": "National Australia Bank",
                      "Senior Analyst":"National Australia Bank",
                      "Data Science Consultant": "Ernst & Young",
                      "Data Scientist": "Betfair"
                    };
                    
                    date_format = Math.round(this.y * 3.8052e-10);
                          //Highcharts.dateFormat('%m', new Date(this.x));

                    return "<b>Organisation: </b>" + org[this.point.name] + "<br> <b>Role: </b>" + details[this.point.name] + "<br> <b>Time Period: </b> " + date_format + " months";
                }
            },
        series: [{
            upColor: Highcharts.getOptions().colors[2],
            color: Highcharts.getOptions().colors[3],
            borderWidth: 0,
            data: [
            {
                name: 'Existence?',
                y: Date.UTC(2008, 9),
                color: 'rgba(158,158,158,0.5)'
            },
            {
                name: 'Bachelors Degree',
                y: Date.UTC(2012, 2) - Date.UTC(2008, 9),
                color: 'rgba(1,87,155,0.5)'
            }, {
                name: 'Masters Degree',
                y: Date.UTC(2014, 1) - Date.UTC(2012,2),
                color: 'rgba(1,87,155,0.5)'
            }, {
                name: 'Graduate',
                y: Date.UTC(2015, 4) - Date.UTC(2014,2),
                color: 'rgba(190,13,0,0.5)'
            },
            {
                name: 'Analyst',
                y: Date.UTC(2016, 2) - Date.UTC(2015,4),
                color: 'rgba(190,13,0,0.5)'
            },
            {
                name: 'Senior Analyst',
                y: Date.UTC(2017, 2) - Date.UTC(2016,3),
                color: 'rgba(190,13,0,0.5)'
            },
            {
                name: 'Data Science Consultant',
                y: Date.UTC(2018, 1) - Date.UTC(2017,2),
                color: 'rgba(255,231,0,0.5)'
            },
            {
                name: 'Data Scientist',
                y: Date.UTC(new Date().getFullYear(),  new Date().getMonth()+1) - Date.UTC(2018,1),
                color: 'rgba(0,0,0,0.5)'
            }],
            dataLabels: {
                enabled: true,
                y: 30,
                style: {
                    color: '#000000',
                    fontWeight: 'bold'
                    },
                formatter: function() {
                    details = {
                      "Bachelors Degree": "Bachelor of Science",
                      "Masters Degree": "Masters of Operations Research",
                      "Graduate": "Risk Graduate",
                      "Analyst": "Credit Risk Model Developer",
                      "Senior Analyst": "Senior Credit Cards Analyst",
                      "Data Science Consultant": "Senior Data Science Consultant",
                      "Data Scientist": "Data Scientist"
                    };
                    
                    return "<br>" + details[this.point.name] + "</br>";
                }
            },
            pointPadding: 0
        }]
    });
  });
</script>
  
{{.Content}}
</div>
{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}