{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}<br></p>
</div>
<div id="kube-faq">
<br>
<div class="row gutters align-middle">
    <div class="col col-4">
	    <img src="/img/aboutme/1.jpg" class="profile-pic">
    </div>
    <div class="col col-4">
	    <img src="/img/aboutme/2.jpg" class="profile-pic">
    </div>
    <div class="col col-4">
	    <img src="/img/aboutme/3.jpg" class="profile-pic">
    </div>
</div>

<h2> Professional Summary </h2>

<p> I do stuff at work for money. </p>

<h2> Get In Touch </h2>



{{.Content}}
</div>
{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}